@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Pacifico&display=swap');

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #FFF;
  overflow-x: hidden;
}

header {
  background-color: white;
  position: fixed;
  width: 100%;
  background: var(--gray-white, #FFF);
  z-index: 999;
  /* Line/Bottom */
  box-shadow: 0px -1px 0px 0px #E9EAF0 inset;
}

header .containers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;


}

.pill{
padding: 12px 14px 12px 14px;
gap: 10px;
border-radius: 4px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: center;
color: rgba(77, 74, 74, 1);

}


::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


.links a {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);

}

.create {
  display: flex;
  gap: 18px;
}

.reg {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: var(--primary-100, #FFf) !important;
  border-radius: 5px;
  background: #000;
  border-radius: 3px;
  /* Button/M */
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  /* 300% */
  letter-spacing: -0.128px;
  text-transform: capitalize;
  text-decoration: none;
}

.sign {
  display: flex;
  padding: 0px 19px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: var(--primary-500, #FF6636);
  color: var(--gray-white, #FFF);

  border-radius: 3px;
  /* Button/M */
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  /* 300% */
  letter-spacing: -0.128px;
  text-transform: capitalize;
  text-decoration: none;
}

.links a:hover {
  color: #3E727D;
}

.links {
  display: flex;
  gap: 35px;
  align-items: center;
}

.mytabs{
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.mypls{
  width: 12%;
}

.filters{
  width: fit-content;
  padding: 20px;
  background-color: purple;
}
.pills{
  width: 100%;
padding-inline: 25px;
  display: flex;
  gap: 14px;
  display: grid;
  align-items: center;
  gap: 4px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
select{
  width: 100%;
  border: 1px solid rgba(228, 228, 228, 1);
  padding: 10px;
  font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: left;
color: rgba(37, 37, 37, 1);
}
.activelink {
  color: #3E727D !important;
  font-weight: 700;
}

.containers {
  margin: auto;
  padding: 10px;
  width: 1150px;
}
.logo a{
  font-family: "Pacifico", cursive;
  font-family: Pacifico;
font-size: 16px;
font-weight: 400;
line-height: 28.1px;
text-align: left;
color: rgba(0, 0, 0, 1);
text-decoration: none;
}
.logo img {
  width: 100px;
  height: 50px;
  object-fit: contain;
}
.activepill{
  background: rgba(243, 243, 244, 1);

}
@media screen and (max-width: 1200px) {
  .containers {

    width: 95%;
    padding: 20px;
  }
}

.herosection {
  min-height: 100vh;
  height: 100vh;
  background: #F5F5F5;
  width: 100%;

  display: flex;
  background-attachment: fixed;

}

.herosection .containers {
  display: flex;
  gap: 30px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sideone,
.sidetwo {
  width: 100%;
}

.sidetwo {
  padding-top: 60px;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.sideone {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}



