@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Manrope&family=Poppins&family=Roboto&display=swap');
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

body {

  /* font-family: 'Nunito Sans', sans-serif; */
  background-color: #FFF;
  overflow-x: hidden;
}



header {
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--gray-white, #FFF);
  z-index: 9999;
  /* Line/Bottom */
  box-shadow: 0px -1px 0px 0px #E9EAF0 inset;
  border-bottom: 1px solid #E9EAF0;
}

.ovl {
  position: absolute;
  top: 0;
padding: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: transparent;
  align-items: flex-start;
  justify-content: flex-end;

 /* Optional: To add a semi-transparent overlay */
  color: white; /* Text/icon color */
  opacity: 1;

}

.imagecard:hover .ovl {
  opacity: 1; /* Show the overlay on hover */
}
.ovl span{
  transition: 0.5s ease-in-out;
  display: none;
}
.imagecard:hover .ovl  span{
  display: flex; /* Show the overlay on hover */
  color: #0b0d14;
  font-size: 20px;
}
.ovl span{
  cursor: pointer;
  background: #FFFFFF;
  z-index: 999;
  padding: 3px;
  border-radius: 4px;
  border: 1px solid #0000001A;
}
header .containers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;


}

.pill{
padding: 12px 14px 12px 14px;
gap: 10px;
border-radius: 4px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: center;
color: rgba(77, 74, 74, 1);

}


::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


.links a {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 16.94px;
  text-transform: capitalize;
  text-align: left;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);

}

.create {
  display: flex;
  gap: 18px;
}

.reg {
  display: flex;
  padding: 12px 12px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: var(--primary-100, #FFf) !important;
  border-radius: 5px;
  background: #0b0d14;
  border-radius: 3px;
  /* Button/M */
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  /* 300% */
  letter-spacing: -0.128px;
  text-transform: capitalize;
  text-decoration: none;
}

.sign {
  display: flex;
  padding: 0px 19px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: var(--primary-500, #FF6636);
  color: var(--gray-white, #FFF);

  border-radius: 3px;
  /* Button/M */
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  /* 300% */
  letter-spacing: -0.128px;
  text-transform: capitalize;
  text-decoration: none;
}

.links a:hover {
  color: #3E727D;
}
.pill-container {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.pill-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.pill {
  min-width: 100px;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: black;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  flex: 0 0 auto;
}

.pill:active {
  background-color: #0056b3;
}
.links {
  display: flex;
  gap: 35px;
  align-items: center;
}
.swiper-slide {
  width: fit-content !important;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}
.imagecard img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 100%;
    height: 100%;
    transition: 3s all ease;
    object-fit: cover;
    object-fit: cover;
    object-position: top;
    filter: brightness(0.9) ;
    transition: 1.5s;
}

.imagecard img:hover {
  object-position: bottom;
  filter: brightness(0.7);
}
.mytabs{
  padding-top: 10px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  position: sticky;
  top: 0;
  background-color: white;
align-items: center;
margin: auto;
z-index: 999999;
}
.vname{
  font-family: Inter;
font-size: 14px;
font-weight: 600;
line-height: 16.94px;
text-align: left;
align-items: center;
  font-size: 14px;
  font-weight: 600;
justify-content: center;

}

.vservice{
  padding-inline: 12px;
  padding-block: 5px;
  background-color: #0b0d14;
  color: white;
  font-size: 13px;
  font-weight: 500;
  border-radius: 6px;
  line-height: 16.94px;
}
.mypls{
  width: 12%;
}

.filters{
  width: fit-content;
  padding: 20px;
  background-color: purple;
}
.pills{
  width: 100%;
padding-inline: 25px;
  display: flex;
  gap: 14px;
  display: grid;
  align-items: center;
  gap: 4px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
select{
  width: 100%;
  border: 1px solid rgba(228, 228, 228, 1);
  padding: 10px;
  font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: left;
color: rgba(37, 37, 37, 1);
}
.activelink {
  color: #3E727D !important;
  font-weight: 700;
}

.containers {
  margin: auto;
  padding: 10px;
  width: 1250px;
}
.logo a{
  font-family: "Pacifico", cursive;
  font-family: Pacifico;
font-size: 16px;
font-weight: 400;
line-height: 28.1px;
text-align: left;
color: rgba(0, 0, 0, 1);
text-decoration: none;
}
.logo img {
  width: 100px;
  height: 50px;
  object-fit: contain;
}
.activepill{
  background: rgba(243, 243, 244, 1);

}

.herodata{
  padding-top: 50px;
  background-color:#0b0d14;
  background-image: url('https://cpwebassets.codepen.io/assets/packs/profile-bg-optimized-a5ca8f46aca292507f629c62b09630ad.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 86vh;
  width: 100%;
display: flex;
flex-direction: column;
  border-radius: 0px;
  color: white;
overflow: hidden;
  gap: 10px;
}

.herotop{
  height: 100%;

  justify-content: center;
}
.herocenter{
  align-items: center;
  justify-content: center;
  width: 100%;
gap: 20px;
padding-top: 30px;
display: flex;
flex-direction: column;
  justify-content: center;
  padding-inline: 50px;
  text-align: center;
  height: 100%;
}

.herocenter h1{
  padding-inline: 150px;
  font-family: 'Inter';
font-size: 35px;
font-weight: 700;
line-height: 50px;
text-align: center;
/* letter-spacing: 1.2px; */
text-transform: uppercase;
}
.subtxt{
  padding-inline: 170px;
  line-height: 30px;
}
.search{
  width: 50%;
}
.searchpill{
  border-radius: 10px;
  justify-self: center;
  background-color: white;
  max-width: 100%;
  align-items: center;
  width: 100%;
  display: flex;
  padding: 5px;
}
.searchpill button{
  background: rgba(220, 253, 136, 1);
  padding: 11px;
  min-width: 100px;
color: rgba(11, 13, 20, 1);
outline: none;
border: none;
font-size: 14px;
font-weight: 400;
border-radius: 10px;
line-height: 22.4px;
letter-spacing: 0.002em;
text-align: center;
font-family: 'Inter';

}
.searchpill input{
  width: 100%;
  border: none;
  outline: none;
  padding: 9px;
  background-color: transparent;
color: rgba(135, 142, 152, 1);
font-size: 14px;
font-weight: 400;
line-height: 26.4px;
letter-spacing: 0.002em;
text-align: left;

}

.portfoliocard{
  width: 100%;
  padding: 2px;
  border: 1px solid rgba(228, 228, 228, 0.754);
  border-radius: 7px;

  /* font-family: 'manrope' !important; */
}
.viewname{
  display: flex;
  gap: 5px;
  width: 100%;
  align-items: center;
}
.viewsite{
  width: 60%;
  display: flex;
  gap: 10px;
  align-self: flex-end;
  justify-content: flex-end;
}

.sd{
  display: flex;
  gap: 2px;
  font-family: Inter;
  align-items: center;
font-size: 15px;
font-weight: 400;
line-height: 14.52px;
text-align: left;
color: #404040;
;
}

.sd span {
color: rgba(217, 217, 217, 1);
;
font-size: 18px;
font-weight: 600;
}
.textpill{
  display: flex;
padding-block: 10px;
padding-inline: 9px;
}

.imagecard{
  width: 100%;
  height: 300px;
  background: #f9f9f9;
  max-height: 300px;
  overflow: hidden;
  border: 1px solid rgba(228, 228, 228, 0.754);
  border-radius: 7px;
}
.imagecard {
  position: relative;
  display: inline-block; /* This makes sure the image card can be positioned relative */
}


/* .herocenter h1 span{
  color: #3fbf44;
} */

.portfoliogrid{
  margin-top: 20px;
  gap: 24px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.herobottom{
display: flex;
justify-content: space-between;
  height: 100%;
  width: 100%;
  align-self: baseline;
  justify-self: baseline;
  margin-bottom: 0px;
}
.myimg{
object-fit: contain;

}
@media screen and (max-width: 1300px) {
  .containers {

    width: 95%;
    padding: 20px;
  }

  .herocenter h1, .subtxt{
    padding-inline: 20px;
  }
}

.herosection {
  min-height: 100vh;
  height: 100vh;
  background: #F5F5F5;
  width: 100%;

  display: flex;
  background-attachment: fixed;

}

.herosection .containers {
  display: flex;
  gap: 30px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sideone,
.sidetwo {
  width: 100%;
}

.sidetwo {
  padding-top: 60px;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.sideone {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 1000px) {
  #middlelinks{
    display: none;
    z-index: 999;
  }
  .search {
    width: 80%;
}
.herocenter h1{
  padding-inline: 10px;
  font-family: 'Inter';
  font-size: 29px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  /* letter-spacing: 1.2px; */
  text-transform: uppercase;

}
.subtxt{
  padding-inline: 9px;
}

  .herodata {
    padding-top: 50px;
    background-color: #0b0d14;
    background-image: url(https://cpwebassets.codepen.io/assets/packs/profile-bg-optimized-a5ca8f4….svg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 61vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    color: white;
    overflow: hidden;
    gap: 10px;
}

.herocenter {
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 3px;
  text-align: center;
  height: 100%;
}
.containers {
  width: 95%;
  padding: 5px;
}

}

